<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tonic<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <style><%= sprockets.find_asset('marx').to_s %></style>
    <style><%= sprockets.find_asset('site').to_s %></style>
  </head>
  <body>
    <header><h5><em><a href='/'>Tonic</a></em><h5></header>
    <hr />
    <div id="main" role="main">
      <%= yield %>
    </div>
  </body>
</html>
