<% wrap_layout :layout do %>
  <main class="post">
    <article>
      <h1><%= current_page.data.title %></h1>
      <img src="<%= current_page.data.image %>" alt="Featured: <%= current_page.data.image %>">
      <p class="date"><%= current_page.data.date.strftime('%B %d, %Y') %>
      <%= yield %>
    </article>
  </main>
<% end %>
